@model MvcStore.Models.Entity.tblUrunler
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Ürün adını giriniz...</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    <label>Ürün markasını giriniz...</label>
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />
    <label>Ürün stok giriniz...</label>
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />
    <label>Ürün alış fiyatı giriniz...</label>
    @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })
    <br />
    <label>Ürün satış fiyatı giriniz...</label>
    @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })
    <br />
    <label>Ürün kategori giriniz...</label>
    @Html.DropDownListFor(x => x.tblKategori.Id, (List<SelectListItem>)ViewBag.drop, new { @class="form-control"})
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>

